body{
    margin:0;
    background:white;
    font-family:Arial,sans-serif;
}

*{
    box-sizing:border-box;
}

button{
    cursor:pointer;
}

input{
    background:white;
}

h2{
    margin:0;
}

p{
    margin:0;
}